<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.zinggrid.com/zinggrid.min.js"></script>
</head>
<body>
    <!-- <h1><%= userName %> here</h1> -->
    <zing-grid caption="MongoDB Users" compact="" zebra="" data="" role="grid"
    viewport="tablet-portrait">
  </zing-grid>
</body>
</html>